h1 {
    font-family: "Times New Roman", Times, serif;
    font-size: xx-large;
    padding-bottom: 0.15em;
}

* {
    font-family: "Times New Roman", Times, serif;
    color: rgb(255, 255, 255);
    font-size: large;
    margin: 0;
    padding: 0;
    overflow: hidden;
    line-height: 1.25em;
    background-color: #000000;
}

.wrapper {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.badges {
    padding-top: 0.8em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.8em;
}

.content {
    max-width: 50vw;
    justify-content: left;
    align-items: left;
    text-align: left;
}

@media (orientation: portrait) {
    .content {
        max-width: 100vw;
        padding-right: 5%;
        padding-left: 5%;
    }
}

.link {
    cursor: pointer;
    overflow-wrap: anywhere;
    word-break: break-all;
    cursor: hand;
}
